
<form #form="ngForm"  autocomplete="on" (submit)="onSubmit(form)">
    <div class="form-group">
        <label >Insurance ID</label>
        <input name="InsuranceID"  [(ngModel)]="InsuranceID" class="form-control" >
       
    </div>
    <div class="form-group">
        <label >Insurance Expiry Date</label>
        <input type="date" name="InsuranceExpiryDate"  [(ngModel)]="InsuranceExpiryDate" class="form-control" required >
        
    </div>
    <div class="form-group">
        <label >Insurance Company</label>
        <input name="InsuranceCompany"  [(ngModel)]="InsuranceCompany" class="form-control" required>
       
    </div>
    <div class="form-row">
            <div class="form-group col-md-6">
            <label >Revenue License Start Date</label>
            <input type="date" name=" RLStartDate"  [(ngModel)]="RLStartDate" class="form-control" required>
            
            </div>
            <div class="form-group col-md-6">
            <label >Revenue License Expiry Date</label>    
            <input type="date" name="RLExpiryDate"  [(ngModel)]="RLExpiryDate" class="form-control"required >
              </div>

    </div>
   
    <div class="form-group">
        <label >Emission Testing Date</label>
        <input type="date" name="VETExpiryDate"   [(ngModel)]="VETExpiryDate" class="form-control" required>
       </div>
       <input type="hidden"  [(ngModel)]="lengtharray" name="lengtharray">
    <div class="form-group">
        <button type="button "[disabled]="form.invalid" class="btn btn-lg btn-block btn-info">SUBMIT</button>
    </div>
</form>
