
<div class="container-fluid">
  
  <div class="row">
    <div class="col-md-2" style="background-color:rgb(2, 12, 22);height:1500px">
    <app-sidenav-admin></app-sidenav-admin>
    </div>
  
    <div class="col-md-10" style="background-image:url('../assets/image/g.png');background-repeat:no-repeat;">
    <div class="row" style="background-color:white;opacity:0.95;color:black;width:102.7%;height:800px">
      <div class="" style="margin-left:50px;margin-top:50px">
        <div>
          <form >
            <div class="form-group">
              <label for="">select vehicle type</label>
              
              <select   class="form-control"  name="vehicle_type"  [(ngModel)]="vehicle_type"  (ngModelChange)="selectvehicletype()">
                <option value="motorcycle">motor cycle</option>
                <option value="threewheeler">three wheeler</option>
                <option value="Car (C class) licence">car (c class)</option>
                <option value="Light Rigid (LR class) heavy vehicle">Light Rigid (LR class) heavy vehicle</option>
                <option value="Medium Rigid (MR class) heavy vehicle">Medium Rigid (MR class) heavy vehicle</option>
                <option value="Special tractor ">tractor</option>
              </select>
             {{vehicleselect}}
            </div>
          </form>
        </div>
        <form action="" class="form-group" autocomplete="on" #form="ngForm"  (submit)="onSubmit(form)">
          <div class="row">
            <div class="col-md-6"><label for="">Quick wash package:</label></div>
            <div class="col-md-6"><input type="number" class="form-control" style="width:300px" placeholder="LKR" name="quickwash"  [(ngModel)]='quickwash' ></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6"><label for="">detailed wash package</label></div>
            <div class="col-md-6"><input type="number" class="form-control" style="width:300px" placeholder="LKR" name="detailledwash"  [(ngModel)]='detailledwash'></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6"><label for="">Auto wash package:</label></div>
            <div class="col-md-6"><input type="number" class="form-control" style="width:300px" placeholder="LKR" name="autowash"  [(ngModel)]='autowash'></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6"><label for="">wash & wax package:</label></div>
            <div class="col-md-6"><input type="number" class="form-control" style="width:300px" placeholder="LKR" name="washandax"  [(ngModel)]='washandax'></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6"><label for="">engine scan:</label></div>
            <div class="col-md-6"><input type="number" class="form-control" style="width:300px" placeholder="LKR" name="enginescan"  [(ngModel)]='enginescan'></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6"><label for="">undercariage degreasing:</label></div>
            <div class="col-md-6"><input type="number" class="form-control" style="width:300px" placeholder="LKR" name="undercariagedegrease"  [(ngModel)]='undercariagedegrease'></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6"><label for="">Radiator coolent flush replacement:</label></div>
            <div class="col-md-6"><input type="number" class="form-control" style="width:300px" placeholder="LKR" name="flushreplace"  [(ngModel)]='flushreplace'></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6"><label for="">Interior detailing:</label></div>
            <div class="col-md-6"><input type="number" class="form-control" style="width:300px" placeholder="LKR" name="interior"  [(ngModel)]='interior'></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6"><label for="">Lubrication:</label></div>
            <div class="col-md-6"><input type="number" class="form-control" style="width:300px" placeholder="LKR" name="lubrication"  [(ngModel)]='lubrication'></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6"><label for="">Exterior waxing:</label></div>
            <div class="col-md-6"><input type="number" class="form-control" style="width:300px" placeholder="LKR" name="exteriorwax"  [(ngModel)]='exteriorwax'></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6"><label for="">Engine oil and filter change:</label></div>
            <div class="col-md-6"><input type="number" class="form-control" style="width:300px" placeholder="LKR" name="engine_oil_and_filter_change"  [(ngModel)]='engine_oil_and_filter_change'></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6"><label for="">Engine cleaning:</label></div>
            <div class="col-md-6"><input type="number" class="form-control" style="width:300px" placeholder="LKR" name="engineclean"  [(ngModel)]='engineclean'></div>
          </div>
          <div class="row">
            
            <div class="col-md-6"><input type="hidden" class="form-control" style="width:300px" placeholder="LKR" name="engineclean"  [(ngModel)]='identifier'></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6"><label for="">tyre dressing:</label></div>
            <div class="col-md-6"><input type="number" class="form-control" style="width:300px" placeholder="LKR" name="tyredashdress"  [(ngModel)]='tyredashdress' value="{{tyredashdress}}"></div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">update prices</button>
        </form>
      </div>
    </div>



    </div>
</div>
</div>


