<div class="pimag1"  style="background-image: url('../../assets/image/image1.jpeg');
min-height:600px   ; position: relative;  background-position: center; background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
  <div class="ptext" style="position: absolute; top: 30%; width: 100%; 
  text-align: center; color: #000; font-size: 27px; letter-spacing:8px;text-transform: uppercase;">
    
    <br>
    <span class="border" style = "background-color:#111; color:#fff; padding:20px;">
      Luckvin Auto Care Service
    </span>
    <div>
      <img src="../../assets/image/g.png" alt="">
    </div>
  </div>
</div>

<section class="section section-Light" style="text-align: center; padding: 50px 80px;  background-color: #282e34;color:#ddd; ">
  <div class="container" style="padding: bottom 10px;">
    <div class="row animated fadeInUp">
      <div class="col-lg-3 col-md-3">
          <h3 style="font-family: oswald; font-size: 18px; margin-top: 20px; margin-bottom: 10px;text-transform: uppercase;font-weight: 400;line-height: 1.1;"><a href="/about"><img src="../../assets/image/carwash.png" class="micon" style="width: 40px; margin-right: 10px" ></a>Welcome</h3>
          <p style="line-height: 200%; text-align: center; margin: 0 0 10px;  font-style: normal;font-weight: 400;">We at Luckvin Auto Care Service offer convenient and quality service for your vehicle.our professionally trained staff deliver exceptional results on all types of vehicles.</p>
      </div>
      <div class="col-lg-3 col-md-3">
        <h3 style="font-family: oswald; font-size: 18px; margin-top: 20px; margin-bottom: 10px; text-transform: uppercase;font-weight: 400;line-height: 1.1;"><a href="/about"><img src="../../assets/image/tools.png" class="micon" style="width: 40px; margin-right: 10px" ></a>About US</h3>
        <p style="line-height: 200%; text-align: center; margin: 0 0 10px;  font-style: normal; font-weight: 400;">Luckvin Auto care service was initiated in theyear 2000 as a seperate strategic business. more info for click thr more button and go the about us page.</p>
        <a href="/about" class="btn btn-outline-warning" style="font-size: 14px; margin-left:8px ">More</a>
      </div>
      <div class="col-lg-3 col-md-3">
          <h3 style="font-family: oswald; font-size: 18px; margin-top: 20px; margin-bottom: 10px; text-transform: uppercase;font-weight: 400;line-height: 1.1;"><a href="#"><img src="../../assets/image/oil.png" class="micon" style="width: 40px; margin-right: 10px" ></a>Service Categories</h3>
          <ul class="sde" style="display: block;margin-top: 20px;margin-left: 10px;margin-bottom: 10px; font-style: normal; font-weight: 400;font-size: 14px; color: #333">
            <li style="margin-bottom: 10px;box-sizing: border-box; display: list-item;font-style: normal;font-weight: 400;font-size: 14px;color: #333"><a href="#">Car Wash Package</a></li>
            <li style="margin-bottom: 10px;box-sizing: border-box; display: list-item;;font-style: normal;font-weight: 400;font-size: 14px;color: #333"><a href="#">Lubrication service</a></li>
            <li style="margin-bottom: 10px;box-sizing: border-box; display: list-item;font-style: normal;font-weight: 400;font-size: 14px;color: #333"><a href="#">Detailing Service</a></li>
            <li style="margin-bottom: 10px;box-sizing: border-box; display: list-item;font-style: normal;font-weight: 400;font-size: 14px;color: #333"><a href="#">Specialized Service</a></li>
            <li style="margin-bottom: 10px;box-sizing: border-box; display: list-item;font-style: normal;font-weight: 400;font-size: 14px;color: #333"><a href="#">Wheel Alignment</a></li>
        

          </ul>
      </div>
      <div class="col-lg-3 col-md-3">
          <h3 style="font-family: oswald; font-size: 18px; margin-top: 20px; margin-bottom: 10px; text-transform: uppercase;font-weight: 400;line-height: 1.1;"><a href="/promotions"><img src="../../assets/image/promotion.png" class="micon" style="width: 40px; margin-right: 10px" ></a>Promotions</h3>
          <p style="line-height: 200%; text-align: center; margin: 0 0 10px;  font-style: normal; font-weight: 400;">Check out our special promotions and offers at Luckvin Auto Care Service Center. Stay tuned to our web site for more details.</p>
          <a href="/promotions" class="btn btn-outline-warning" style="font-size: 14px; margin-left:8px ">More</a>

      </div>
    </div>  
  </div>
</section>

<div class="pimag2" style="background-image: url('../../assets/image/image2.jpg');
min-height: 400px; position: relative; opacity: 0.70; background-position: center; background-size: cover; background-repeat: no-repeat;background-attachment: fixed;">
    <div class="ptext" style="position: absolute; top: 50%; width: 100%; 
    text-align: center; color: #000; font-size: 27px; letter-spacing:8px;text-transform: uppercase;">
      <span class="border trans" style = "background-color:#111; color:#fff; padding:20px; background-color:transparent;">
        Image Text 2
      </span>
    </div>
  
</div>

<section class="section section-Dark" style="text-align: center; padding: 50px 80px; background-color: #282e34;color:#ddd;">
      <h2>Section Two</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore officia dolor excepturi tenetur non necessitatibus ex expedita nihil earum enim beatae odit vero et adipisci eligendi cupiditate ipsum corrupti ratione, rem dolore. Assumenda, pariatur accusamus numquam, necessitatibus vero maxime ipsum aperiam quasi minima sapiente ipsam. Iusto sint aspernatur voluptates molestias, enim, laborum inventore ea ab porro dolorum quisquam nam dignissimos illo, cum repellat eligendi eius rerum aliquid quae saepe iure similique ipsa accusamus.  </p>
   </section>

<div class="pimag3" style="background-image: url('../../assets/image/image3.jpeg');height: 400px; position: relative; opacity: 0.70; background-position: center; background-size: cover; background-repeat: no-repeat;background-attachment: fixed;">
    <div class="ptext" style="position: absolute; top: 50%; width: 100%; 
    text-align: center; color: #000; font-size: 27px; letter-spacing:8px;text-transform: uppercase;">
        <span class="border trans" style = "background-color:#111; color:#fff; padding:20px;background-color:transparent;">
            Image Text 3
        </span>
    </div>
</div>

<section class="section section-Dark"style="text-align: center; padding: 50px 80px; background-color:#282e34;color:#ddd;">
  <app-contactpage></app-contactpage>
    
    
</section>


