<nav class="d-md-block bg-light sidebar " style="margin-top:20px;height:auto" >
  <div class="sidebar-sticky " style="background-color:rgb(2, 12, 22);height:auto" >
    <ul class="nav flex-column">
      <li class="nav-item" >
         
        
      </li>
      <!-- Calling SignOut() Api from AuthService -->
      
      
        <button class="btn btn-outline-warning" (click)="authService.SignOut()">
          Log out
        </button>
        <br>
       

        <li class="nav-item"  style="background-color:black" routerLink="/payement">
          <a class="nav-link active" style="color:white" > 
            <i class="fas fa-user"></i>update payement details
          </a>
        </li>

        <li class="nav-item" style="background-color:black" routerLink="/confirmvehiclereg">
          <a class="nav-link active" style="color:white" >
            <i class="fas fa-user"></i>confirm vehicle registration
          </a>
        </li>
        
        <li class="nav-item" style="background-color:black" routerLink="/assistvehicles">
          <a class="nav-link"  style="color:white">
          vehicale breakdown requests
          </a>
        </li>

        <li class="nav-item" style="background-color:black" routerLink="/qr-generator">
            <a class="nav-link"  style="color:white">
             generate qr codes
            </a>
          </li>

          <li class="nav-item" style="background-color:black">
              <a class="nav-link"   style="color:white">
               Promotions
              </a>
            </li>
          
            <li class="nav-item" style="background-color:black">
                <a class="nav-link" href="#"  style="color:white">
                Payment
                </a>
              </li>

              <li class="nav-item" style="background-color:black">
                  <a class="nav-link" href="#"  style="color:white">
                  Manage vehicles
                  </a>
                </li>

                <li class="nav-item" style="background-color:black">
                    <a class="nav-link" href="#"  style="color:white">
                    Insuarence details
                    </a>
                  </li>

        
    
    </ul>
  </div>
</nav>