
  <!-- Sidebar navigation -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2" style="background-color:rgb(2, 12, 22);height:600px">
      <app-sidenav></app-sidenav>
      </div>
    <div class="col-md-10" style="background-image:url('../assets/image/g.png');background-repeat:no-repeat;">
     
      <div class="row" style="background-color:white;opacity:0.95;color:black;height:100%">
       <div >
         <div  style="margin-top: 50px;margin-left:50px">
            <div class="card" *ngFor="let emp of list" style="margin-top:10px;width:800px;">
                <div class="card-header bg-primary" style="color:white">
                    <h5 class="card-title"> <b>{{getremainingdays(emp.resdate)}} days more</b></h5>
                </div>
                <div class="card-body" style="color:white;background-color: black">
                  <div class="row">
                    <div class="col-md-4" >
                       
                        <p class="card-text">Reservation date :<b>{{emp.resdate}}</b> </p>
                         <input type="hidden">
                         
                    </div>
                    
                    <div class="col-md-4">
                      <p >Vehicle :<b>{{emp.vehiclereg}}</b></p>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-danger" (click)="onsubmit(emp.id)">cancel Reservation</button>
                    </div>
                  </div>
                  
                 
                </div>
                
              </div>
         </div>
       </div>
      </div>

  

    </div>
  </div>
</div>


  