
  <div class="container-fluid">
    
      <div class="row">
        <div class="col-md-2" style="background-color:rgb(2, 12, 22);height:900px">
        <app-sidenav></app-sidenav>
        </div>
      
        <div class="col-md-10" style="background-image:url('../assets/image/g.png');background-repeat:no-repeat;">
        <div class="row" style="background-color:white;opacity:0.95;color:black">
          <div class="col-md-6" ><app-licence-type></app-licence-type> </div>
          <div class="col-md-6" style="opacity:0.9" ></div>
        </div>
  
  
  
        </div>
    </div>
  </div>
  
  
    