
  <!-- Sidebar navigation -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2" style="background-color:rgb(2, 12, 22);height:auto">
      <app-sidenav></app-sidenav>
      </div>
    <div class="col-md-10">
       <!-- Main content -->
<main role="main" class="  px-4">
    <div class="inner-adjust">

      <div class="pt-3 pb-2 mb-3 ">
        
        <p class="border-bottom"><b>Dashboard/</b>customer profile</p>
      </div>
      <!-- Show user data when logged in -->
      <div class="row" *ngIf="authService.userData as user">
        <div class="col-md-12">
          <div class="media">
            <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
              alt="{{user.displayName}}" style="height:200px;width:200px">
            <div class="media-body">
              <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
              <p>User ID: <strong>{{user.uid}}</strong></p>
              <p>Email: <strong>{{user.email}}</strong></p>
              <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row"> 
     
      </div>


    </div>
    <hr>
    <label for="" class="d-block p-2 text-white badge-dark" >Insuarence and Revenue Licenses details</label>
    <div style="margin-top:30px" >
      <div class="row">
        <div class="col-md-8">
          <div>Revenue License Expirations  : <b>{{differentRsldate}} days more</b></div>
          <div>Revenue License Expiration date : <b>{{RLExpiryDate}}</b></div>
          <p class="{{alertclass }} alert alert-danger" >Your Revenue License validity period is almost over</p>
          <div class="progress md-progress" style="height: 20px">
            <div class="progress-bar custom" role="progressbar" [style.width]="variable1" style="height:20px"  aria-valuemin="0" aria-valuemax="100">{{rtluseddates}} days</div>
          <p style="margin-left:50px">{{differentRsldate}} days more</p> 
         
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-8">
          {{jstoday}}
          <div>Insuarence Expirations  : <b>{{differentInsDate}} days more</b></div>
          <div>Insuarence Expiration date : <b>{{InsuranceExpiryDate}}</b></div>
          <p class="{{alertclassins}} alert alert-danger" >Your Insuarence validity period is almost over</p>
        
        
          <div class="progress md-progress" style="height: 20px">
            <div class="progress-bar custom " role="progressbar" [style.width]="variable2" style="height:20px;background-color:green"  aria-valuemin="0" aria-valuemax="100">{{insuseddates}} days</div>
          <p style="margin-left:50px">{{differentInsDate}} days more</p> 
          </div>
        </div>
      </div>
    </div>
    
    
  </main>


  

    </div>
  </div>
</div>

<style>

.true{
  
  display:none
}
.false{
  color:red;
  
}
</style>
  