<nav class="d-md-block bg-light sidebar " style="margin-top:20px;height:auto" >
    <div class="sidebar-sticky " style="background-color:rgb(2, 12, 22);height:auto" >
      <ul class="nav flex-column">
        <li class="nav-item" >
           
          
        </li>
        <!-- Calling SignOut() Api from AuthService -->
        
        
          <button class="btn btn-outline-warning" (click)="authService.SignOut()">
            Log out
          </button>
          <br>
         

          <li class="nav-item"  style="background-color:black" routerLink="/dashboard">
            <a class="nav-link active" style="color:white" > 
              <i class="fas fa-user"></i>profile
            </a>
          </li>

          <li class="nav-item" style="background-color:black" routerLink="/vehicle-register">
            <a class="nav-link active" style="color:white" >
              <i class="fas fa-user"></i>add vehicle
            </a>
          </li>
          
          <li class="nav-item" style="background-color:black" routerLink="/booking">
            <a class="nav-link"  style="color:white">
            reserve service date
            </a>
          </li>

          <li class="nav-item" style="background-color:black" routerLink="/license">
              <a class="nav-link"  style="color:white">
               add license and insuarence details 
              </a>
            </li>

            <li class="nav-item" style="background-color:black" routerLink="/license">
              <a class="nav-link"  style="color:white">
               promotions
              </a>
            </li>
            <li class="nav-item" style="background-color:black" routerLink="/license">
              <a class="nav-link"  style="color:white">
               contact us
              </a>
            </li>
            <li class="nav-item" style="background-color:black" routerLink="/ongoingreserve">
              <a class="nav-link"  style="color:white">
               ongoing reservations
              </a>
            </li>
            

          
      
      </ul>
    </div>
  </nav>