<nav class="d-md-block bg-light sidebar " style="margin-top:20px" >
    <div class="sidebar-sticky " style="background-color:rgb(2, 12, 22)" >
      <ul class="nav flex-column">
        <li class="nav-item" >
           
          
        </li>
        <!-- Calling SignOut() Api from AuthService -->
        
        
          <a class="btn btn-primary" (click)="authService.SignOut()">
            Log out
          </a>
          <br>
         

          <li class="nav-item"  style="background-color:black" routerLink="/dashboard">
            <a class="nav-link active" style="color:white" > 
              <i class="fas fa-user"></i>Profile
            </a>
          </li>

          <li class="nav-item" style="background-color:black" routerLink="/vehicle-register">
            <a class="nav-link active" style="color:white" >
              <i class="fas fa-user"></i>Add vehicle
            </a>
          </li>
          
          <li class="nav-item" style="background-color:black">
            <a class="nav-link" href="#"  style="color:white">
            Reserve vehicle
            </a>
          </li>

          <li class="nav-item" style="background-color:black">
              <a class="nav-link" href="#"  style="color:white">
               Scan 
              </a>
            </li>

            <li class="nav-item" style="background-color:black">
                <a class="nav-link" href="#"  style="color:white">
                 Promotions
                </a>
              </li>
            
              <li class="nav-item" style="background-color:black">
                  <a class="nav-link" href="#"  style="color:white">
                  Payment
                  </a>
                </li>

                <li class="nav-item" style="background-color:black">
                    <a class="nav-link" href="#"  style="color:white">
                    Manage vehicles
                    </a>
                  </li>

                  <li class="nav-item" style="background-color:black">
                      <a class="nav-link" href="#"  style="color:white">
                      Insuarence details
                      </a>
                    </li>

          
      
      </ul>
    </div>
  </nav>